.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

table#calendar {
    table-layout: fixed;
    border: darkgrey solid 1px;
}

table#calendar td, table#calendar tr {
    border: darkgrey solid 1px;
}

table#calendar tr.days {
    height: 150px;
}

.top {
    vertical-align: text-top;
}

td.today {
    background-color: #d2fff8;
}

td.past {
    background-color: #d7d7d7;
}

a.past {
    pointer-events:none;
    color: gray!important;
}

a.disabled {
    pointer-events:none;
    color: #d7d7d7!important;
}

a.full {
    pointer-events:none;
}

a.admin {
    pointer-events: auto!important;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}